<style > * {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#main_wrap {
    position: relative;
    width: 1000px;
    background-color: #fff;
   
    margin: 20px auto;

    border: 1px solid #DDD;
    border-radius: 10px;

    box-shadow: 3px 3px 5px darkgray;
    
    padding: 30px;

}

body {
    background-color: gray;
}

div {
    /*border:1px solid orange;*/
    text-align: left;
    line-height: 20px;
}

#header {
    padding: 20px 50px;
}

#navi {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    overflow: hidden;
}

#navi>ul {
    float:left;
    overflow: hidden;
    list-style: none;
}

#navi>form {
    float:right;
    margin: 10px;
}

#navi>form>input[type=button]{
    margin-left: -1px;
    width:50px;
    border-radius: 0 10px 10px 0;
    border:3px solid #ddd;
    background-color: #ddd;
    
}

#navi>form>input[type=text]{
    height: 21px;
    border-radius: 10px 0 0 10px;
    padding:0 10px;
    border: 3px solid #ddd;
    
}

#navi>ul>li {
    float:left;
    width: 80px;
    height: 30px;
    padding:0 30px;
}

#navi>ul>li:hover{
    cursor: pointer;
    background-color: cadetblue;
}

#contents_wrap {
    /*블록내부의 요소들만 float 속성을 적용*/
    overflow: hidden;
}

#content {
    width:800px;
    float: left;
    padding: 5px;
}
#content>section>article>h2{
    color: coral;
}

#content>section>article>img{
    height:400px;
    margin: 10px 0;
}

#content>section>article>hr{
    border:0;
    border-top: 1px solid #AAA;
    margin: 10px 0;
}

#contents_wrap>aside {
    width: 160px;
    float: right;
}
#contents_wrap>aside>h4 {
    margin-top: 30px;
}
#contents_wrap>aside>ul {
    list-style: none;
    padding-left:10px;
}

#contents_wrap>aside>h4+div{
    padding-left:10px;
}

footer {
    padding:20px;
    text-align: center;
    color:#999;
    background: #EEE;
}

</style >